body {
    margin:0px;
    display:flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    min-width:960px;
    width: auto !important;
    width:960px;
}

.header {
    display:flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 12px 0px 0px 0px;
}

.logo {
    width:480px;
}

ul {
    display:flex;
    font-size: 12px;
    font-weight: initial;
    gap:12px;
    align-items: center;
    width:480px;
    padding: 0px;
    margin:0px;
    justify-content: flex-end;
}

li {
    list-style: none;
}

.splash {
    display: flex;
    background-color:#1F2937;
    color:#F9FAF8;
    justify-content: center;
    padding: 72px 0px;
}

.splash-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    max-width:480px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    flex-wrap:wrap;

}

.splash-description {
    flex-wrap:wrap;
    padding-right:72px;
}

.splash-button {
    width: 108px;
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border:none;
    cursor:pointer;
    outline:none;
}

button:focus, button:hover {
    background-color: #0848af;
}

.splash img {
    flex:1 0 auto;
    max-width: 480px;
    min-width: 480px;
}

.content {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-title {
    width: 960px;
    text-align:center;
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
    padding: 48px 0px;
}

.card-container {
    display:flex;
    width:960px;
    justify-content: space-evenly;
    padding-bottom: 96px;

}

div .card {
    display:flex;
    flex-direction:column;
    width:156px;
    text-align:center;
    gap: 8px;
}

.card img {
    border: 4px solid #3882F6;
    width:148px;
    height:148px;
    border-radius: 24px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E7EB;
}

.quote-body {
    width:826px;
    flex-grow:1;
    font-size: 36px;
    font-weight: light;
    font-style:italic;
    padding-top:96px;
}

.quote-signature {
    flex-grow:1;
    width:760px;
    text-align: right;
    font-size:20px;
    font-weight:bold;
    height:141px;
}

.sign-up {
    display:flex;
    align-items:center;
    color:#F9FAF8;
    justify-content: center;
    padding: 120px 0px;
}

.sign-up-blue {
    display:flex;
    background:#3882F6;
    max-width:960px;
    min-width:960px;
    border-radius: 8px;
    justify-content: space-evenly;
    padding:48px 0px;
}

.sign-up-blue .title {
    font-size:28px;
}

.sign-up-blue .description {
    font-size:18px;
}

.sign-up-button {
    padding: 4px 20px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border:3px solid #F9FAF8;
    cursor:pointer;
    outline:none;
    align-self:center;
    font-weight:bold;
    font-size:18px;
}

.footer {
    display:flex;
    justify-content:center;
    background: #1F2937;
    color:#F9FAF8;
    font-size:18px;
    padding: 36px 0px;
}